<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style.css">
  <title>Document</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="left col-md-6">
        <div class="horizontal-center-one">
          <h2>
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            Domanda {{index_domanda}}/{{tot_domande}}
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </h2>
          <div class="hr"></div>
        </div>
        <div class="vertical-center">
            <div class="cerchio">
            <img src="{{image_url}}" alt="">
            </div>
            </div>
            <div class="horizontal-center-two">
              <h3 class="text-center">{{domanda}}</h3>
            </div>
      </div>


      <div class="right col-md-6">
        <div class="triangle"></div>
        <div class="quiz-panel horizontal-center-one animation">
          <h2>Seleziona una risposta</h2>
          <div class="hr"></div>
        </div>

        <div class="answer-group">

          <div class="quiz-panel panel-answer col-md-10 offset-md-1 animation">
            <div class="inner-answer">
            <div class="cerchietto">
              <span class="quiz-letter text-center">{{lettera}}</span>
            </div>
            <p>{{risposte}}</p>
            </div>
            </div>

            </div>
        </div>
    </div>
  </div>

    <template></template>
<script src="assets/js/start-animation.js"></script>
</body>
</html>
