@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
  margin: 0;
  padding: 0;
  //background-color: #25aaa7;
  font-family: 'roboto';
}
#shareBtn{
  display: block;
  margin: 10px auto;
}
body.yellow,body.yellow .right{
	background-color: #f4e44d;
}
body.yellow #shareBtn{
  background-color: #f4e44d !important;
  color: #000;
}
body.yellow .left h2,body.yellow .cerchietto span,body.yellow .btn{
    color: #f4e44d;
}
body.pink,body.pink .right{
	background-color: #f3c2b3;
}
body.pink #shareBtn{
  background-color: #f3c2b3 !important;
  color: #000;
}
body.pink .left h2,body.pink .cerchietto span,body.pink .btn{
    color: #f3c2b3;
}
body.fucsia,body.fucsia .right{
	background-color: #f2016f;
}
body.fucsia #shareBtn{
  background-color: #f2016f !important;
  color: #000;
}
body.fucsia .left h2,body.fucsia .cerchietto span,body.fucsia .btn{
    color: #f2016f;
}
body.lightblue,body.lightblue .right{
	background-color: #b0e1e2;
}
body.lightblue #shareBtn{
  background-color: #b0e1e2 !important;
  color: #000;
}
body.lightblue .left h2,body.lightblue .cerchietto span,body.lightblue .btn{
    color: #b0e1e2;
}
body.medblue,body.medblue .right{
	background-color: #47c1b1;
}
body.medblue #shareBtn{
  background-color: #47c1b1 !important;
  color: #000;
}
body.medblue .left h2,body.medblue .cerchietto span,body.medblue .btn{
    color: #47c1b1;
}
body.blue,body.blue .right{
	background-color: #00577e;
}
body.blue #shareBtn{
  background-color: #00577e !important;
  color: #000;
}
body.blue .left h2,body.blue .cerchietto span,body.blue .btn{
    color: #00577e;
}
.credits-link{
	position: absolute;
	z-index: 10;
	top:10px;
	right: 10px;
	display: inline-block;
	width: 40px;
	height: 40px;
	font-size: 22px;
	background-color: lightcoral;
	color: #333;
	border-radius: 4px;
	text-align: center;
	line-height: 40px;
	transition: all 0.3s ease;
}
.credits-link:hover{
	background-color: #fff;
	color: #333;
	text-decoration: none;
	-webkit-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.69);
-moz-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.69);
box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.69);
}
.left, .right{
  min-height: 100vh;
}
.left{
  background-color: #fff;
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 1s;
  -moz-animation-name: fadein;
  -moz-animation-duration: 1s;
  -ms-animation-name: fadein;
  -ms-animation-duration: 1s;
  -o-animation-name: fadein;
  -o-animation-duration: 1s;
  animation-name: fadein;
  animation-duration: 1s;
position: relative;
}
@-webkit-keyframes fadein {
0% {  transform:translateX(-100%); }
100% {  transform:translateX(0%); }
}

@-moz-keyframes fadein {
0% {  transform:translateX(-100%); }
100% {  transform:translateX(0%); }
}

@-ms-keyframes fadein {
0% {  transform:translateX(-100%); }
100% {  transform:translateX(0%); }
}

@-o-keyframes fadein {
0% {  transform:translateX(-100%); }
100% {  transform:translateX(0%); }
}

@keyframes fadein {
0% {  transform:translateX(-100%); }
100% {  transform:translateX(0%); }
}
.right{
  //background-color: #25aaa7;
}
.triangle{
  position: absolute;
  top: 10%;
  right: -15px;
	z-index: 20;
  width: 0;
  height: 0;
	opacity: 0;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 18px solid #ffffff;
}
.left h2, .right h2{
  text-align: center;
  padding-top: 10vh;
}
.left h2{
    //color: #25aaa7;
}
.right h2{
  color: #fff;
}
.cerchio{
  width: 45vh;
  height: 45vh;
  border-radius: 50%;
  margin: 0 auto;
  //background-color: #25aaa7;
margin-top: 40px;
margin-bottom: 80px;
overflow: hidden;
}
.cerchio img{
  width: 100%;
  height: auto;
}
.panel-answer{
  padding-top: 20px;
  padding-bottom: 20px;
  transition: all 0.3s ease;
  border-bottom:1px solid #fff;
  box-sizing: border-box;
	color: #fff;
}
.panel-answer:last-child{
  border-bottom-color: transparent;
}
.panel-answer:hover{
  background-color: #fff;
  border-radius: 4px;
  border-bottom-color: transparent;
	color: #333;
}
.panel-answer:hover .cerchietto{
  background-color:#F67280;
}
.cerchietto{
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 30px;
  float: left;
  transition: all 0.3s ease;
}
.cerchietto span{
  //color: #25aaa7;
  line-height: 40px;
  display:inline-block;
  width: 40px;
	text-transform: uppercase;
	text-align: center;
}

.inner-answer p{
  line-height: 40px;
  margin-bottom: 0;
}
.answer-group{
  padding-top:30px;
}
.animation{
  opacity: 0;
}

.welcome{
	  overflow:hidden;
	}
	.welcome .left h1{
	  padding-top:10vh;
	  text-align: center;
	}
	.welcome .left p{
	  text-align: center;
	  padding-top: 30vh;
	}
	.welcome .right{
	  background-color: #fff;
	}

	.welcome .cerchio{
	  //background-color:#fff!important;
	}
	.btn{
	  display: inline-block;
	  padding: 15px 20px;
	background-color: #fff!important;
	//color: #25aaa7!important;
	box-shadow:         -6px 2px 9px 0px rgba(50, 50, 50, 0.5);
	-webkit-box-shadow: -6px 2px 9px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    -6px 2px 9px 0px rgba(50, 50, 50, 0.5);
	}
.credits h1{
	margin-top: 50px;
	margin-bottom: 30px;
}
.credits p{
	font-size: 12px;
	padding-top:20px;
	padding-bottom:20px;
}
.credits .social-link{
	text-align: center;
	line-height: 30px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	font-size: 18px;
	background-color: #fff;
	color: #333;
	margin-bottom: 25px;
	margin-left:10px;
	display: inline-block;
	box-shadow:         -6px 2px 9px 0px rgba(50, 50, 50, 0.5);
	-webkit-box-shadow: -6px 2px 9px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    -6px 2px 9px 0px rgba(50, 50, 50, 0.5);
}

@media(min-width:768px){
	.panel-answer{
		padding-top: 45px;
		padding-bottom: 45px;
	}
}

@media(max-width:767px){
  .triangle{
    display: none;
  }
  .left{
    height:100%;
    min-height:100vh;
  }
  .welcome .left p{
    padding-top: 50px;
  }
}

#svg.anima #disegni,#svg.anima #sfondo,#svg.anima #aquila,#svg.anima #delfino,#svg.anima #lupo,#svg.anima #medusa{
			transition: all 0.5s ease;
	-webkit-transform-origin: 150px 150px;
	-moz-transform-origin: 150px 150px;
	-ms-transform-origin: 150px 150px;
	-o-transform-origin: 150px 150px;
	transform-origin: 150px 150px;
		}
	@keyframes sfondo-keyframes {
      0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      22.22% {
        opacity: 1;
        animation-timing-function: linear;
      }
      33.33% {
        opacity: 1;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #svg.anima #sfondo {
      animation: sfondo-keyframes 2s linear 0s 1 normal forwards;
    }
    @keyframes draw-keyframes {
      0% {
        opacity: 0;
        transform: rotateZ(0deg);
        animation-timing-function: linear;
      }
      22.22% {
        opacity: 0;
        transform: rotateZ(0deg);
        animation-timing-function: linear;
      }
      33.33% {
        opacity: 1;
        transform: rotateZ(0deg);
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        transform: rotateZ(360deg);
        animation-timing-function: linear;
      }
    }
    #svg.anima #disegni {
      animation: draw-keyframes 2s linear 0s 1 normal forwards;
    }
    @keyframes mascotte-keyframes {
       0% {
        opacity: 0;
        animation-timing-function: linear;
      }
      18.18% {
        opacity: 0;
        animation-timing-function: linear;
      }
      27.27% {
        opacity: 0;
        animation-timing-function: linear;
      }
      81.82% {
        opacity: 0;
        animation-timing-function: linear;
      }
      100% {
        opacity: 1;
        animation-timing-function: linear;
      }
    }
    #svg.anima #aquila,#svg.anima #delfino,#svg.anima #lupo,#svg.anima #medusa {
      animation: mascotte-keyframes 3s linear 0s 1 normal forwards;
    }